@using TorqueLogViewer.Services
@inject SidebarService SidebarService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TorqueLogViewer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleSidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compare">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Compare
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private void ToggleSidebar()
    {
        SidebarService.ToggleSidebar();
    }
}
